body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: 100vh;
}
/* Made for the purpose of making background red */
html{
  height: 100vh;
  width: 100vh;
  background-color: orangered;
}

.ticket {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
}

/* I went and put the ticket body into a container div and had the container center the page */
.ticketContainer{
  position: absolute;
  margin-top: 20%;
  margin-bottom: 35%;
  margin-left: 25%;
}

.ticket .stub,
.ticket .check {
  box-sizing: border-box;
}
.stub {
  background: orangered;
  height: 250px;
  width: 250px;
  color: white;
  padding: 20px;
  position: relative;
}
.stub:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
}
.stub:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
}
.stub .top {
  display: flex;
  align-items: center;
  height: 40px;
  text-transform: uppercase;
  font-family: Copperplate;
}
.stub .top .line {
  display: block;
  background: black;
  height: 40px;
  width: 3px;
  margin: 0 20px;
}
.stub .top .num {
  font-size: 15px;
}
.stub .top .num span {
  color: white;
}
.stub .number {
  position: absolute;
  left: 40px;
  font-size: 150px;
  color: black;
}
.stub .invite {
  position: absolute;
  left: 150px;
  bottom: 45px;
  color: white;
  width: 20%;
  font-size: 25px;
  font-family: Copperplate;
}
.stub .invite:before {
  content: '';
  background: black;
  display: block;
  width: 40px;
  height: 3px;
  margin-bottom: 5px;
}
.check {
  background: dodgerblue;
  height: 250px;
  width: 450px;
  padding: 40px;
  position: relative;
}
.check:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 20px solid orangered;
  border-right: 20px solid white;
  width: 0;
}
.check:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 20px solid orangered;
  border-right: 20px solid white;
  width: 0;
}
.check .big {
  font-size: 85px;
  font-family: Copperplate;
  font-weight: 900;
  line-height: 0.8em;
  color: black;
}
.check .number {
  position: absolute;
  top: 50px;
  right: 50px;
  color: black;
  font-size: 40px;
}
.check .info {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  margin-top: 20px;
  width: 100%;
  color: white;
}
.check .info section {
  margin-right: 50px;
}
.check .info section:before {
  content: '';
  background: black;
  display: block;
  width: 40px;
  height: 3px;
  margin-bottom: 5px;
}
.check .info section .title {
  font-size: 10px;
  text-transform: uppercase;
}
