<body>
<div class="ticketContainer">
  <div class="ticket">
    <div class="stub">
      <div class="top">
        <span class="admit">Admit One</span>
        <span class="line"></span>
        <span class="num">
            Invitation #
            <span>31415926</span>
          </span>
      </div>
      <div class="number">1</div>
      <div class="invite">
        JOIN US!
      </div>
    </div>
    <div class="check">
      <div class="big">
        4.2 BAR <br> CRAWL
      </div>
      <div class="number"></div>
      <div class="info">
        <section>
          <div class="title">Date:</div>
          <div>TBA</div>
        </section>
        <section>
          <div class="title">Location:</div>
          <div>TBA</div>
        </section>
        <section>
          <div class="title">Invite Number:</div>
          <div>31415926</div>
        </section>
      </div>
    </div>
  </div>
</div>
</body>
