<!--Thegit  content below is only a placeholder and can be replaced.-->
<div class="ticket">
  <div class="stub">
    <div class="top">
      <span class="admit">ADMIT ONE</span>
      <span class="line"></span>
      <span class="num">
        INVITATION
        <span>#28</span>
      </span>
    </div>
    <div class="number"></div>
    <div class="invite">
      BE THERE!
      2/16/19
    </div>
  </div>
  <div class="check">
    <div class="big">
      4.2 <br> BAR CRAWLn
    </div>
    <div class="info">
    </div>
  </div>
</div>
